* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:url("./assets/background4.jpg")
    no-repeat center center fixed;
    
   
    background-size: cover;
    background-position: center;

}

.wrapper {
    margin-top: 150px;
    margin-left: 860px;
      margin-right: 400;
    width: 500px;
    background:transparent; 
    border: 20px solid rgba (255, 255, 255, .2);
    backdrop-filter: blur(6px);
    color: #fff;
    display: flex;
    flex-direction: column; /* Align items vertically */
    align-items: center; /* Center horizontally */
    border-radius: 10px;
    padding: 10px 20px;
    height: 600px;
    border-width: 0px;
    border-style: outset;
    border-color: #fff;
}


.dashboard-wrapper {
   
   margin-top: 150px;
    width: 3000px;
    height: 10000px;
   
    background:transparent; 
    border: 20px solid rgba (255, 255, 255, .2);
    backdrop-filter: blur(7px);
    color: #fff;
    display: flex;
    flex-direction: column; /* Align items vertically */
    align-items: center; /* Center horizontally */
    border-radius: 10px;
    padding: 10px 20px;
    height: 600px;
    border-width: 0px;
    border-style: outset;
    border-color: #fff;
    
}

.wrapper h1 {
    font-size: 55px;
    text-align: center;
    margin-left: 50px;
}

.wrapper .input-box {
    position: relative;
    width: 150%;
    height: 50px;
    margin: 30px 0;
}

.wrapper .input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgb(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    outline: none;
    text-indent: 20px;
}

.input-box input::placeholder {
    color: #fff;
    padding-left: 20px;
}

.input-box .icon {
    position: absolute;
    top: 50%;
    right: 20px;
    width: 30px;
    height: 30px;
    transform: translateY(-50%);
    font-size: 16px;
}

.wrapper button {
    width: 150%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 700;
    background: #fff;
}

.wrapper .register-link {
    font-size: 15px;
    margin-top: 20px;
    margin-left: 70px;
    text-align: center;
}

.wrapper .register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.wrapper p a:hover {
    text-decoration: underline;
}
/* .docs-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    
} */ 
.docs-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    
}
.card {
    display: flex; /* Set the card to be a flex container */
    flex-direction: column; /* Stack the items vertically */
    justify-content: space-between;
    width: 12%; /* For larger screens, 6 cards per row */
    min-width: 200px; /* Minimum width of the card */
    max-width: 200px; /* Maximum width of the card */
    height: 20%;
    min-height: 200px; /* Minimum height of the card */
    max-height: 200px; /* Maximum height of the card */
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 16px;
    margin: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    text-align: center;
    overflow: hidden; /* This will hide any content that exceeds the size of the card */
}
.card .icon-container img {
    width: 20px; /* Adjust the size as needed */
    height: 20px; /* Adjust the size as needed */
    cursor: pointer;
}
.card .icon-container {

    margin-top: '20px';
    /*let it be at the bottom of the card*/
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.card .icon-container img:hover {
    filter: brightness(85%);
}
.card:hover {
    /* Change background color on hover */
    background-color: lightgray;
}
.info-wrapper{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.card img {
    width: 50px;
    height: 50px;
    margin-bottom: 8px;
}

.appbar {
    position: relative;
    background-color: #fff;
    padding: 20px;
    text-align: center;
}
@media (max-width: 600px) {
    .appbar {
        padding: 10px;
        text-align: left;
    }
    .appbar-buttons {
        position: static;
        transform: none;
        margin-top: 10px;
    }
}
.appbar h1 {
    margin: 0;
}

.appbar-buttons {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.appbar-buttons button {
    margin-left: 10px;
    padding: 10px;
    background-color: rgb(151, 148, 148);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.appbar-buttons button:hover {
    background-color: #0056b3;
}

#editorcontainer {
    background-color: #fff;
    height: 100vh; /* This will make the div take up the whole height of the viewport */
    width: 80%; /* This will make the div take up the whole width of the viewport */
    text-align: center;
    margin-left: 10%;

}

.info-modal { 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.info-modal-content {
    background-color: #fff;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 50%;
    height : 50%;
}

.info-modal-content h2 {
    margin-bottom: 10px;
}
.renaming-input-box {
    /* Copy the styles from .input-box */
    position: relative;
    width: 100%;
    margin: 30px 0;
}

.renaming-input-box input {
    /* Copy the styles from .input-box input */
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgb(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    outline: none;
    padding: 0 20px;
}

.renaming-input-box input::placeholder {
    color: #fff;
}

.renaming-input-box .icon {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 16px;
}
/***************************/ 
.animated-header {
  font-size: 24px;
}

.letter-animation {
  display: inline-block;
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Add animation delay for each letter */
.letter-animation:nth-child(1) {
  animation-delay: 0s;
}
.letter-animation:nth-child(2) {
  animation-delay: 0.1s;
}
.letter-animation:nth-child(3) {
  animation-delay: 0.2s;
}
.letter-animation:nth-child(4) {
  animation-delay: 0.3s;
}
.letter-animation:nth-child(5) {
  animation-delay: 0.4s;
}
.file-name {
  display: inline-block;
}
.permissions-container {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.permissions-container label {
    margin-right: 10px;
}

.permission-checkbox {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}









.info-modal-content-share {
    background-color: #fff;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 50%;
    height : 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-box-share {
    width: 100%;
    margin-bottom: 20px;
}

.permissions-container-share {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.permission-checkbox-share {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
